body {
    overflow: hidden;
}
#board-renderer {
    top: 0;
    left: 0;
<<<<<<< HEAD
=======
    background-color: #000;
>>>>>>> master
}
input[type='radio'] {
    display: none;
}
label {
    text-align: right;
    clear: both;
    float: left;
    cursor: pointer;
    border: 2px solid transparent;
}
label > img {
    vertical-align: middle;
    margin-right: 0.5em;
}

/* a label right after an input element which is checked */
input[type='radio']:checked+label {
    border: 2px solid black;
    background-color: #C4C4C4;
}
input[type='radio']+label:hover {
    border: 2px solid grey;
    background-color: #C4C4C4;
}
#map-editor-menu {
    background-color: lightgray;
    position: absolute;
    float:left;
    display: inline-flex;
    margin-top: 4em;
    -webkit-padding-start: 0; /* remove margin on the left */
    display: none;
}
.widget-header {
    font-size: large;
    font-weight: 600;
}
li {
    list-style-type:none;
    margin: 10px;
}
img {
    height: 24px;
    width: 24px;
}

#side-logo {
    position: relative;
    top: 0.25em;
    padding-right: 0.25em;
<<<<<<< HEAD
}
=======
}
>>>>>>> master
